/*------------------------------------------------------------
0. STRUCTURE
--------------------------------------------------------------*/
* {
    box-sizing: border-box;
    
}
html, body, header, section, footer, div{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.container-Main {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
    @media (min-width: 1366px) {
        .container-Main {
            max-width: 1920px;
        }
    }
/* LINHA */
.row {
    display: flex;
    flex-flow: row wrap;
}
.col {
    display: flex;
    flex-flow: column nowrap;
    min-height: 1vh;
    width: 100%;
}
    @media (min-width: 750px) {
        .section-1 {
            width: 60%;
        }
        .section-2 {
            width: 40%;
        }
    }
/*--------------------------------------------------------------
1. HEADER
----------------------------------------------------------------*/
.capa {
    height: 90vh;
    background-color: #FFF;
}
.centro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.container-Logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#logo {
    margin: 0;
    padding: 0;
}
.title-H1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    color: #4dbcfb; 
}
.container-Icon {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
    @media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 118dpi) {
        .container-Logo {
            height: 85vmin;
        }
        #logo {
            width: 30vw;
        }
        .title-H1 {
            font-size: 5vw;
            letter-spacing: 0.05em;
        }
        .iconTitle {
            margin: auto;
            margin-left: 2em;
            margin-right: 2em;
            width: 4vw;
        }
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 326dpi){
        .container-Logo {
            height: 85vmin;
        }
        #logo {
            width: 60vw;
        }
        .title-H1 {
            font-size: 8vw;
            letter-spacing: 0.01em;
        }
        .iconTitle {
            margin: auto;
            margin-left: 2em;
            margin-right: 2em;
            width: 8vw;
        }
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 424dpi) {
        .container-Logo {
            height: 90vmin;
        }
        #logo {
            width: 60vw;
        }
        .title-H1 {
            font-size: 10vw;
            letter-spacing: 0.02em;
        }
        .iconTitle {
            margin: auto;
            margin-left: 2.5em;
            margin-right: 2.5em;
            width: 10vw;
        }
    }
/*--------------------------------------------------------------
2. SECTION
----------------------------------------------------------------*/
.corpo {
    background: #f5d5fe;
    color: #FFF;
}
/*--------------------------------------------------------------
3. FOOTER
----------------------------------------------------------------*/
.rodape {
    background-color: #000;
    color: #FFF;
}