.cor-escura {
    background-color:  #E5E5E5;
}

.container {
    width: 85%;
}
/*-----------------------------------------------------
1. HEADER 
-------------------------------------------------------*/
.navbar-fixed nav .nav-wrapper a .responsive-img {
    height: 64px;
}
@media only screen and (max-width: 600px) {
    .navbar-fixed nav .nav-wrapper a .responsive-img {
        height: 56px;
    }
}
.navbar-fixed nav .nav-wrapper .l11 .container {
    width: 100%;
}
.nav-link {
    font-size: 1.5rem;
    margin: auto;
    padding: 0 2vmax;
    transition: background-color .3s;
}
.user-view-background {
    width: 100%;
}
/*-----------------------------------------------------
1. HEADER 
-------------------------------------------------------*/
.capa {
    margin-bottom: 0;
}
.background-capa {
    margin-bottom: 0;
    height: 35vmin;
    background-image: url('Background/abstract-sound.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 200%;
}
.perfil-capa {
    max-height: 80%;
    margin: auto;
}
.alturaMaxima {
    height: 35vmin;
}
.background-capa h4, h6 {
    padding: 1vmin;
    margin: 0;
    margin-bottom: 1vh;
    background-color: rgba(0, 0, 0, 0.75);
}
.faixas-left {
    margin-left: 1.5vmin;
}
.faixas-right {
    margin-right: 3vmin;
}
.faixas-link {
    color: #000;
    font-size: 1.1rem;
}
.faixas-link:hover {
    background-color: rgba(255, 0, 0, 0.7);
}
.linha-red {
    border: solid #f50;
    border-width: 0 0 3px 0;
}
.btn-faixas {
    width: 100%;
    text-align: center;
    font-weight: 500;
    border: solid #f50;
    border-width: 0 0 3px 0;
}
.button-Geral {
    width: 100%;
    height: 100%;
    margin: 0;
}
.nav-wrapper ul li .button-Geral i {
    height: 100%;
    line-height: inherit;
}
.noPadding {
    padding: 0;
    margin: 0;
}
.icon-Header {
    height: 40px !important;
    vertical-align: middle;
}
.fab {
    font-size: 20px;
}
/*---------- PARALLAX ---------------*/
.parallax-container {
    height: 380px;
}
.header-filter {
    height: 380px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 995;
    position: relative;
}
.caixa-suspensa {
    padding: 0;
    margin-top: -60px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 
                0 6px 30px 5px rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 996;
    background-color: #FFFFFF;
    min-width: 95%;
}
.caixa-suspensa h1 {
    margin: 0;
}
.navbar-parallax {
    box-shadow: none;
    transition: all 0.3s ease-in;
}
/*---------- AVATAR ------------------*/
.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
body .profile img {
    max-width: 160px;
    width: 100%;
    margin: auto;
    transform: translate3d(0, -50%, 0);
}
.rounded-circle {
    border-radius: 50% !important;
}
.img-fluid {
    height: auto;
}
.col-center {
    margin-right: auto;
    float: none!important;
}
/*------------ TITULO ------------------*/
.titulo {
    margin-top: -80px;
}
.titulo h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #3C4858;
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-size: 1.8rem;
    line-height: 1.4em;
}
.titulo h6 {
    background-color: transparent;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #3C4858;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.88rem;
    line-height: 1.5em;
}
.icons-pages-link {
    color: #999999;
    padding: 2vmin;
    overflow: hidden;
    line-height: 41px;
    font-size: 24px;
}
.description {
    margin: 1.1rem auto 0;
    max-width: 600px;
    color: #999;
}
.description p {
    font-weight: 300;
    line-height: 1.6rem;
}
@media only screen and (max-width: 600px) {
    .description {
        padding: 0 15px;
    }
}
.vertical-margin {
    margin-top: 4.284rem;
}
.padding-zero {
    padding: 0!important;
}
/*-------------- SERVICES -----------------*/
.services .tabs {
    height: auto;
    width: auto;
    white-space: normal;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.services .tabs .tab {
    height: 104px;
    width: auto;
    margin-right: auto;
}
.services .tabs .tab .tabs-link.active {
    color: #FFF;
    background-color: #9c27b0;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(156, 39, 176, 0.6);
}
.services .tabs .tab .tabs-link {
    margin: auto;
    border-radius: 4px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    max-width: 100px;
    text-align: center;
    color: #555;
    transition: all .3s;
    padding: 10px 15px;
    border: 0;
    display: block;
    text-overflow: unset;
}
.services .tabs-link i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
    line-height: 1;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    letter-spacing: normal
}
.tabs .indicator {
    background-color: transparent;
}
/*----------------- CARD -----------------------*/
.card .card-content {
    padding: 16px;
}
.card .card-content .card-title {
    line-height: 24px;
}
.card .card-title {
    font-size: 1.3rem;
}
.card .card-content a {
    font-size: 0.88rem;
}
.margin-zero {
    margin: 0;
}
.tamanho-section {
    min-width: 95%!important;
}
/*-------------- CURRICULUM -------------------*/
#curriculum .tabs {
    height: auto;
    width: auto;
    white-space: normal;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
@media only screen and (min-width: 993px) {
    #curriculum .tabs {
        flex-wrap: nowrap;
    }
}
#curriculum .tabs .tab a {
    margin: auto;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #555;
    transition: all .3s;
    border: 0;
    display: block;
    text-overflow: unset;
}
#curriculum .tabs .tab a.active {
    color: #FFF;
    background-color: #e57373;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(156, 39, 176, 0.6);
}
.list-UL li {
    opacity: 0;
    padding: 10px 0; 
}
#card1,
#card2,
#card3,
#card4 {
    opacity: 0;
}
.padding-i-right {
    padding-right: 10px;
}
/*-------------- FOOTER -----------------------*/
.page-footer {
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
}
.about .nav-footer .nav-content {
    height: 100%;
    
    margin: auto;
}
.about .nav-footer .nav-content ul {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}
.copyright {
    height: 64px;
}
@media only screen and (max-width: 600px) {
    .copyright {
        height: 56px;
    }
    .about .container {
        width: auto;
    }
}
.copyright .credits {
    height: 100%;
}
.nav-footer {
    border: 0;
    box-shadow: unset;
}
.copyright .credits p,
.copyright .credits p i,
.nav-footer ul li a {
    color: #3C4858;
    font-weight: 500;
    font-size: 12px;
    border-radius: 3px;
}
.copyright .credits p {
    padding: 0;
    margin: auto;
}