/*------------------------------------------------------------
0. STRUCTURE
--------------------------------------------------------------*/
* {
    box-sizing: border-box;
    
}
html, body, header, section, footer, div, article, img{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.container-Main {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-flow: row nowrap;
}
.col {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
/*--------------------------------------------------------------
0.1 Classes Comuns
----------------------------------------------------------------*/
.link_blue {
    text-decoration: none;
    color: black;
}
.link_blue:hover {
    color: #4dbcfb;
}
.article {
    color: #000;
}
/*--------------------------------------------------------------
1. HEADER
----------------------------------------------------------------*/
.capa {
    height: 90vh;
    background-color: #FFF;
}
.centro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.container-Logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#logo {
    margin: 0;
    padding: 0;
}
.title-H1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    color: #4dbcfb; 
}
.container-Icon {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
/* Iphone 3, 4, 5, 6(+), 7(+), complementares */
    @media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 96dpi) {
        .capa {
            height: 100vmax;
        }
        .container-Logo {
            margin: auto;
        }
        #logo {
            width: 50vw;
        }
        .title-H1 {
            font-size: 7vw;
            letter-spacing: 0.07em;
        }
        .iconTitle {
            margin: auto;
            margin-left: 6vmin;
            margin-right: 6vmin;
            width: 8vw;
        }
    }
    @media (min-resolution: 96dpi) and (orientation: landscape) {
        .capa {
            height: 100vmin;
        }
        #logo {
            width: 30vw;
        }
        .title-H1 {
            margin: auto;
            padding: 1vmin;
            font-size: 5vw;
            letter-spacing: 0.05em;
        }
        .iconTitle {
            margin: auto;
            margin-left: 5vmin;
            margin-right: 5vmin;
            width: 5vw;
        }
    }
/* Notebook e Desktop */
    @media (min-width: 1280px){
        .capa {
            height: 100vmin;
        }
        #logo {
            width: 33vw;
        }
        .title-H1 {
            font-size: 6vw;
            letter-spacing: 0.06em;
        }
        .iconTitle {
            margin-left: 5vmin;
            margin-right: 5vmin;
            width: 3.5vw;
            height: 6vh;
        }
    }
    @media (min-width: 1366px){
        #logo {
            width: 30vw;
        }
        .iconTitle {
            width: 3vw;
        }
    }
    @media (min-width: 1440px){
        #logo {
            width: 32vw;
        }
        .iconTitle {
            width: 3.5vw;
        }      
    }
/*--------------------------------------------------------------
1.1 Header Producer
----------------------------------------------------------------*/
.capa-Soundcloud {
    height: 100vmin;
    width: 100vmin;
    background-image: url('Background/abstract-sound.jpg');
    background-repeat: no-repeat;
    background-position: center -29vmin;
    background-size: contain;
}
.row-Soundcloud {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}
.header-1 {
    height: 43%;
}
.header-2 {
    height: 57%;
}
.coluna-1 {
    display: flex;
    flex-flow: column nowrap;
    height: 68%;
    width: 0%;
    justify-content: center;
    align-self: flex-start;
}
.coluna-2 {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
}
.arrow-Back {
    width: 7vmin;
    margin-left: 5vmin;
}
.image-Circle-Sound {
    width: 30vw;
    border-radius: 50%;
}
.estation {
    justify-content: flex-start;
    align-items: center;
    height: 80%;
}
.estation h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em;
}
.playlist {
    justify-content: center;
    align-content: center;
    height: 20%;
}
#followers {
    font-size: 2em;
    color: gray;
    margin: 0;
}
#followers:before {
    content: "\f0c0";
    font-family: FontAwesome;
    margin-right: 0.6em;
}
.btn-podcast {
    font-size: 2.2em;
    margin: auto;
    margin-top: 5vmin;
    width: 40vmin;
    height: 8vmin;
    border-radius: 2%;
    color: #000;
    background: rgba(0,0,0,0);
    border: 1px solid #808080;
}
.btn-podcast:before {
    content: "\f2ce";
    font-family: FontAwesome;
    font-size: 2.5rem;
    margin-right: 0.6em;
}
.btn-playlist {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    width: 50%;
    height: 100%;
    border-radius: 2%;
    color: #f50;
    background: rgba(0,0,0,0);
    border: solid #f50;
    border-width: 0 0 5px 0;
}
.btn-playlist:focus {
    outline: none;
}
.btn-info {
    color: gray;
    border: solid #FFF;
}
/*--------------------------------------------------------------
2. SECTION
----------------------------------------------------------------*/
.corpo {
    background-color: #DAE1E5; 
    color: #333B3F;
}
.row-Heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Saira', sans-serif;
    font-weight: bolder;
}
.row-Content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.row-Content h4, h5, p {
    margin: 0;
    padding: 0; 
}
.description {
    text-align: justify;
}
.image-Circle {
    margin: 0;
    border-radius: 50%; 
}
.container-Image {
    align-items: center;
}
.fa-soundcloud {
    color: #141414;
} 
/* Iphone 3, complementares e resolução menor que 720p */
    @media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 96dpi) {
        .row-Heading h2 {
            font-size: 5em;
            margin: auto;
            margin-top: 10vmin;
        }
        .description {
            margin: 2vmin;
            margin-left: 8vmin;
            margin-right: 8vmin;
        }
        .description h4 {
            font-family: 'Rajdhani', sans-serif;
            font-weight: 500;
            font-size: 3em;
        }
        .description h5 {
            font-family: 'Rajdhani', sans-serif;
            font-weight: 500;
            font-size: 3em;
        }
        .description p {
            font-family: 'Rajdhani', sans-serif;
            font-size: 1.8em;
        }
        .row-Portrait {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
        }
        .image-Circle {
            width: 80vw;
            border-radius: 0;
        }
        .foto2 {
            display: none;
        }   
    }
    @media (min-resolution: 96dpi) and (orientation: landscape) {
        .image-Circle {
            width: 50vw;
        }
        .foto2 {
            display: inline;
        }
    }
/* Notebook e Desktop */
    @media (min-width: 1280px) {
        .section-1 {
            width: 70%;
        }
        .section-2 {
            width: 30%;
        }
        .row-Heading h2 {
            font-size: 4em;
        }
        .description h4 {
            font-size: 1.8em;
        }
        .description h5 {
            font-size: 1.8em;
        }
        .description p {
            font-size: 1.3em;
        }
        .row-Portrait {
            margin: auto;
            margin-left: 0;
        } 
        .image-Circle {
            width: 25vw;
            border-radius: 50%;
        }
        .foto2 {
            display: none;
        } 
    }
    @media (min-width: 1366px) {
        .description h4 {
            font-size: 2em;
        }
        .description p {
            font-size: 1.4em;
        }    
    }
    @media (min-width: 1440px) {
        .row-Heading h2 {
            font-size: 4.2em;
        }
        .description h4 {
            font-size: 2em;
        }
    }
/*--------------------------------------------------------------
2.1 Section Producer
----------------------------------------------------------------*/
.fundo {
    background-color: rgb(223, 223, 223)
}
.musicas {
    margin-top: 3vmin;
    margin-bottom: 3vmin;
    background-color: #fff;
}
.row-Player {
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    margin: auto;
    margin-bottom: 5vmin;
}
.btn-player { 
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20vmin;
    text-align: left;
    font-size: 2em;
    color: #000;
    background: #fff;
    border-width: 0;
}
.btn-player:hover {
    color: #000;
}
.row-btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 80%;
    margin-top: 1vmin;
}
.btn-player h4, h5, .tempo, .cont_Exe {
    margin: 0;
    padding: 0;
}
.btn-player h5 {
    color: #808080;
    font-weight: 500;
    letter-spacing: 0.2vmin;
}
.btn-player h4 {
    font-weight: 600;
    width: 80%;
}
.btn-player span {
    color: #808080;
}
.art-Album {
    width: 20%;
    height: 20vmin;
    margin-right: 2vmin;
}
.barra_progresso {
    height: 1vmin;
    width: 80%;
}
progress {
    display: block;
    -webkit-appearance: none;
}
progress::-webkit-progress-value {
    background-color: #f50;
}
progress[value]::-webkit-progress-bar {
    background: #fff;
  }
/*--------------------------------------------------------------
3. FOOTER
----------------------------------------------------------------*/
.rodape {
    background-color: rgb(28, 31, 32);
    color: #FFF;
}
.local:before {
    content: "\f041";
    font-family: FontAwesome;
    margin-right: 0.3em;
}
.phone:before {
    content: "\f095";
    font-family: FontAwesome;
    margin-right: 0.3em;
}
.email:before {
    content: "\f0e0";
    font-family: FontAwesome;
    margin-right: 0.3em;
}
.face:before {
    content: "\f230";
    font-family: FontAwesome;
    margin-right: 0.3em;
}
.insta:before {
    content: "\f16d";
    font-family: FontAwesome;
    margin-right: 0.3em;
}
.sound:before {
    content: "\f1be";
    font-family: FontAwesome;
    margin-right: 0.3em;
}
.youtube:before {
    content: "\f16a";
    font-family: FontAwesome;
    margin-right: 0.3em;
}
/* Iphone 3, complementares e resolução menor que 720p */
    @media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 96dpi) {
        .rodape {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin: 0;
            padding-top: 10vmin;
            padding-bottom: 10vmin;
        }
        .centralizado {
            display: flex;
            flex-flow: col nowrap;
            width: 60%;
            margin: 0;
            padding-bottom: 10vmin;
        }
        .row-Contato {
            margin: 0;
        }
        .row-SocialMedia {
            margin: 0;
        }
        .centralizado h2 {
            font-family: 'Saira', sans-serif;
            font-size: 4em;
            margin: auto;
        }
        .centralizado h4 {
            font-family: 'Rajdhani', sans-serif;
            font-weight: 500;
            font-size: 2.5em;
            color: #ffffff;
            margin: auto;
            padding-top: 1.5vmin;
        }
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .centralizado h2 {
            font-size: 4em;
        }
        .centralizado h4 {
            font-size: 2.2em;
        }
    }
    @media (min-resolution: 288dpi) and (orientation: landscape) {
        .centralizado {
            width: 35%;
        }
        .row-Contato {
            margin: 0;
        }
        .row-SocialMedia {
            margin: auto;
            margin-top: 0;
            margin-right: 0;
        }
        .centralizado h2 {
            font-size: 2.5em;
        }
        .centralizado h4 {
            font-size: 1.6em;
        }
    }
    @media (min-width: 1024px) {
        .centralizado {
            width: 35%;
        }
        .row-Contato, .row-SocialMedia {
            margin: auto;
            margin-top: 0;
        }
        .centralizado h2 {
            font-size: 2.5em;
        }
        .centralizado h4 {
            font-size: 1.2em;
        }
    }